<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Climate changes in Toronto</title>
</head>

<body>
    <div class="container">
        <div class="navbar-header">
            How factors related to climate changes have been changing in Toronto
        </div>
    </div>
