<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>The Influential Factors of Climate Change in Toronto</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script type="text/javascript" src="js/lib.js"></script>
</head>

<body>
    <!-- <div class="container">
        <div class="navbar-header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/animation">Animation</a></li>
                <li><a href="/night_mode">Night Mode</a></li>
                <li><a href="/green_spaces">Green Spaces</a></li>
            </ul>
        </div>
    </div> -->
