
/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */

/* Add century gothic font style */
@font-face {
  font-family: 'centuryGothic';
  src: url('../assets/century_gothic.ttf');
}

@font-face {
  font-family: 'centuryGothicBold';
  src: url('../assets/century_gothic_bold.ttf');
}

#index-bottom{
  height: 100%;
  /* background: rgb(107 114 128); */
  /* opacity: 0.5; */
  /* position: relative; */
}

#index-layer1{
  height: 100%;
  position: absolute;
  top:0;
  z-index: 1;
  /* background: rgb(107 114 128); */
  /* opacity: 0.5; */
  /* position: relative; */
}

#index-title #st-btn{
  cursor: pointer;
  /* cursor: url(../images/cursor_icon.png); */
}
#index-title #st-btn img:hover{
  content:url("../images/start_btn_click.png");
}

#renew-energy-container{
  height: 100%;
  position: relative;
}

#green-space-container{
  /*display: flex;*/
  height: 100%;
  position: relative;
}

#main-map {
  height: 100%;
  width: 100%;
}

#index-title {
  position: absolute;
  top: 40%;
  right: 5%;
  z-index: 3;
  text-align: right;
}

/* styles for a story floating*/
.story-floating{
  position: absolute;
  top: 45%;
  left: 65%;
  width: 390px;
  background-color: rgba(63,76,94,224);
  padding-left: 2%;
  padding-right: 2%;
}

/* story-night text style */
.story-floating .page-content{
  color: #36d7ff;
  font-size: 18px;
  margin-bottom: 2%;
}

.story-floating .title{
  color: #36d7ff;
  font-size: 28px;
  margin: 0px;
  padding-top: 1%;
  font-family: "centuryGothicBold";
}

.story-floating .description{
  color: #ffffff;
  font-size: 15px;
  font-family: "centuryGothic";
}

.story-floating .facts{
  padding-top: 1.5%;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-family: "centuryGothic";
  text-align: justify;
}

.story-floating .btn-next-story{
  margin-top: 2%;
  margin-bottom: 2.5%;
  float: right;
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: rgba(63,76,94,224);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 4px 20px;
  border-color: white;
  font-family: "centuryGothicBold";
}

#green-space-container #main-map{
  /*flex: 1;*/
  /*height: 1000px;*/
  height: 100%;
  width: 100%;
}

.story-light{
  position: absolute;
  top: 0%;
  right: 0%;
  width: 500px;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  backdrop-filter: blur(3px);
  /*flex: 0.6;*/
}

/* story-light styles */
.story-light #glass-container{
  margin: 0;
  padding-left: 10%;
  padding-right: 10%;
  color: #36d7ff;
}

.story-light #page-content{
  font-size: 18px;
  margin-bottom: 2%;
}

.story-light #title{
  font-size: 28px;
  margin: 0;
  font-family: "centuryGothicBold";
}

#story-light img{
  height: 300px;
  width: 100%;
}

#story-light #facts{
  padding-top: 1.5%;
  color: #ffffff;
  font-size: 12px;
  line-height: 20px;
  font-family: "centuryGothic";
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;
}

#next-green-spaces{
  margin-top: 2%;
  margin-bottom: 2.5%;
  float: right;
  margin-right: 10%;
  color: white;
  text-align: center;
  font-size: 15px;
  background-color: rgba(63,76,94,224);
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding: 4px 20px;
  border-color: white;
  font-family: "centuryGothicBold";
}
/* 
#start-button{
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2em;
  margin: 4px 2px;
  border-radius: 12px;
  transition: all 0.5s;
  cursor: pointer;
}

#start-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#start-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#start-button:hover span {
  padding-right: 25px;
}

#start-button:hover span:after {
  opacity: 1;
  right: 0;
} */

#description, #facts{
  font-size: 20px;
}

#description{
  /* font-family: serif; */
  font-family: 'Century Gothic';
}
  

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


/* 
  * Optional: Makes the sample page fill the window. 
  */

div.navbar-header{
  width: 100%;
  overflow: hidden;
  background: linear-gradient(45deg, rgb(127 127 127), transparent);
  z-index: -1;
  opacity: 0.6;
}


.footer{
  color: white;
  text-align: center;
  font-family: "centuryGothic";
  position: absolute;
  bottom: 5px;
  height: 20px;
  width: 100%;
  font-size: 12px;
  z-index: 2;
}

#ghg-label{
  color:white;
  position: absolute;
  padding: 10px;
  z-index: 2;
  bottom: 3%;
  left: 49%;
  width: 210px;
  background-color: rgba(63,76,94,224);
}

#ghg-label ul li{
  position: inline;
  line-height: 20px;
}

#ghg-label ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#ghg-label ul li div.color{
  display: inline-block;
  width: 20px;
  height: 20px;
}