<%- include('./partials/_header') %>
<script type="module" src="js/map.js"></script>

<div id="index-container">

    <div id="main-map"></div>
    <div id="centered">
        <p>Google Maps Hackathon</p>
        <h4>The Influence of Climate Change to Toronto</h4>
        <button
                type="button" id="start-button" onclick="location.href='/animation'"
        > <span> Start </span>
        </button>
    </div>
</div>

<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&v=weekly"
        defer
></script>


<%- include('./partials/_footer') %>