<%- include('./partials/_header') %>
<script type="module" src="js/map.js"></script>

<div id="index-bottom">
    <img src="images/index_map.jpg" width="110%"/>
</div>
<div id="index-layer1">
    <img src="images/index_traffic.png" width="110%" />
</div>
<!--<div id="index-layer2">-->
<!--    <img src="images/index_traffic.png" width="100%" />-->
<!--</div>-->
<div id="index-layer3">
    <img id="index-layer3-img" src="images/index_toronto.png" width="110%" />
</div>

<!-- <div id="main-map"></div> -->
<div id="index-title">

    <img src="images/index_title.png" width="50%" /><br/>
    <div id="st-btn" onclick="location.href='/pollution'"><img src="images/start_btn.png" width="30%"/></div>
</div>
<div style="font-size: 8px; position: absolute; right: 1%; z-index: 2; bottom: 10px; color:white;">image source: The globe and mail</div>
<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<!-- <script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&v=weekly"
        defer
></script> -->


<%- include('./partials/_footer') %>