<%- include('./partials/_header') %>

<script type="module" src="js/energy.js"></script>

<div id="main-map"></div>

    
<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&libraries=visualization&v=weekly"
        defer
></script>

<div id="loc_data" style="display: none;">
    <%= data  %>
</div>
<%- include('./partials/_footer') %>