<%- include('./partials/_header') %>
<script type="module" src="js/ghg.js"></script>

<div id="main-map"></div>
<div id="ghg-label">
        Greenhouse gas emissions from residential home energy use
        <ul>
                <li><div class="color" style="background-color: #9EC7E9;"></div>< 1,200</li>
                <li><div class="color" style="background-color: #599241;"></div>1,200 - 1,400</li>
                <li><div class="color" style="background-color: #1DAB75;"></div>1,400 - 1,600</li>
                <li><div class="color" style="background-color: #117594;"></div>1,600 - 1,900</li>
                <li><div class="color" style="background-color: #0C2E4C;"></div>> 1,900</li>
        </ul>

</div>
<div id="story" class="story-floating">
        <p class="page-content"><u>1 of 4</u></p>
        <p class="title">Greenhouse gas (GHG) emissions is the key to impact the climate change</p>
        <p class="description">Reducing energy consumption is a priority in reducing GHG emissions.</p>
        <hr/>
        <p class="facts">
                55% of total GHG emissions in Toronto are due to energy consumption in homes and buildings. 
                Natural gas consumption remains the largest source of GHG emissions, followed by transportation fuels, primarily gasoline fuel used for personal and light-duty vehicles. 
        </p>
        <button type="button" class="btn-next-story" onclick="location.href='/renew_energy_installations'">Next ></button>
</div>
    
<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&v=weekly"
        defer
></script>


<%- include('./partials/_footer') %>