<%- include('./partials/_header') %>
<script type="module" src="js/green_spaces.js"></script>

    <div id="main-map"></div>

    <div id="story-light" class="story-light">
        <div id="glass-container">
            <p id="page-content"><u>3 of 4</u></p>
            <p id="title">One of the Greenest Cities in the World</p>
            <p id="description">Toronto ranks 31st on the Green Cities Index, with around 20 per cent green space.</p>
        </div>
        <img src="images/green-spaces.jpg" alt="Green Space Picture" width="1069" height="598"/>
        <div style="font-size: 8px; position: absolute; right: 1%; z-index: 2; bottom: 10px; color:white;">image source: Daily Hive/Shutterstock</div>
        <div id="facts-container">
            <p id="facts">In 2017, a project called Treepedia identified that Toronto is having one of the world’s most
                luxuriant urban forests.
                The finding of this project showed that approximately a fifth of the city is covered by a green canopy,
                which is significantly higher than other cities like Paris (8.8 per cent), New York (13.5 per cent), and
                London (12.7 per cent). City of Toronto has devoted to building green spaces, park systems, and
                extensive network of trails to increase the percentage of tree cover rate, which contributes to an
                increasing percentage of green space.
                <!-- The contribution of the city on creating green spaces and extensive network of trails and park systems all makes Toronto’s tree cover rate undoubtedly high. -->
            </p>
            <button type="button" id="next-green-spaces" onclick="location.href='/energy'">Next &nbsp; ></button>
        </div>
    </div>



<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&v=weekly"
        defer
></script>


<%- include('./partials/_footer') %>