<%- include('./partials/_header') %>
<script type="module" src="js/renew_energy_install.js"></script>

<div id="main-map">
</div>
<div id="story" class="story-floating">
    <p class="page-content"><u>2 of 4</u></p>
    <p class="title">Leader in Renewables Industry.</p>
    <p class="description"> Total renewable generation in 2018 was 34.8% of all generation.</p>
    <hr/>
    <p class="facts">Over the past 20 years, more than 100 renewable energy systems have been installed around Toronto
        City buildings and properties.
        Using solar photovoltaic (PV), solar pool heating, geothermal, the system contributes to establishing a
        robust domestic market that prioritizes sustained renewable energy development.
    </p>
    <button type="button" class="btn-next-story" onclick="location.href='/green_spaces'">Next ></button>
</div>

<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&v=weekly"
        defer
></script>


<%- include('./partials/_footer') %>