<%- include('./partials/_header') %>

<script type="module" src="js/energy.js"></script>

<div id="main-map"></div>

<div id="story-light" class="story-light">
    <div id="glass-container">
        <p id="page-content"><u>4 of 4</u></p>
        <p id="title">Toronto increased electricity consumption from 2015 to 2019 by 500+ million kWh</p>
        <p id="description">Electricity consumption in 2019 reached 1593 million kWh.</p>
    </div>
    <img src="images/elec_consumption.jpg" width="1069" height="598"/>
    <div id="facts-container">
        <p id="facts">Reported by Toronto Hydro, the single most expensive household appliance is the central air conditioner which contributes to most of the electricity consumption.
            Except for that, water heaters, portable electric heaters, and ovens are also major energy consumers.
        </p>
        <button type="button" id="next-main" onclick="location.href='/'">Main &nbsp; ></button>
    </div>
</div>
    
<!--
 The `defer` attribute causes the callback to execute after the full HTML
 document has been parsed. For non-blocking uses, avoiding race conditions,
 and consistent behavior across browsers, consider loading using Promises
 with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap&libraries=visualization&v=weekly"
        defer
></script>

<div id="loc_data" style="display: none;">
    <%= data  %>
</div>
<%- include('./partials/_footer') %>